@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add table styles from daisyui */
table {
  @apply table-auto;
  @apply w-full;
  @apply text-left;
  @apply border-collapse;
  @apply border border-gray-300;
  @apply my-4;
}

/* Add table styles from daisyui */
table th {
  @apply border border-gray-300;
  @apply p-2 rounded-xl;
  @apply bg-gray-900;
}

table td {
  @apply border border-gray-300;
  @apply p-2 rounded-xl;
}


table tr:hover {
  @apply bg-gray-800;
}

table tr:hover td {
  @apply bg-gray-800;
}

/* Add table styles from daisyui */
table tr:hover td:first-child {
  @apply rounded-l;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
  @apply mb-4;
}

